@import "../node_modules/modern-normalize/modern-normalize.css";

html.ReactModal__Body--open {
  overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}

button {
  cursor: pointer;
}
